body{
	background-image: linear-gradient(tomato, lightblue);
}

.song-list{
	border-style: solid;
	border-color: DodgerBlue;
}
.list-end{
	text-align: center;
	font-size: smaller;
}

.song-data{
	list-style-type: none;
}
.genre-data{
	list-style-type: none;
}
.genre-data > li:before{
	content: "- ";
}
img{
	width: 200px;
	padding: 10px;
	float: right;
}
.song-name{
	font-variant: small-caps;
}
.favorite{
	color: green;
}

.artist-name{
	font-weight: bold;
	font-size: 120%;
}
.album{
	font-style: italic;
}
.release-date{
	font-size: smaller;
}
.genre{
	font-size: smaller;
}

/*section{
	border-style: solid;
	border-color: neon;
}*/